

<div class="jumbotron" style="color: black; opacity: 0.5; font-size: 15px; margin-top: 50px">
    <h3>O nas</h3>

    Niniejszy serwis jest w pełni profesjonalnym punktem naprawy i konserwacji małych i dużych urządzeń elektronicznych. Naszym klientom oferujemy szeroki wachlarz usług wykonywanych z należną precyzją i pieczołowitością przez pracowników z wieloletnim doświadczeniem branżowym. Dodatkowym atutem wprowadzonym z zamiarem podwyższenia jakości obsługi jest strona internetowa, umożliwiająca naturalnie dostęp do informacji na temat usług realizowanych przez serwis, ale również wgląd i ewentualną ingerencję użytkownika w listę jego zleceń zapewniając tym samym ciągłą komunikację z serwisem. Ponadto w celu dalszego zwiększenia komfortu obecnych i potencjalnych klientów serwisu udostępniona została aplikacja mobilna, w pełni kompatybilna z istniejącą stroną internetową.

    <hr />
    <p>Autorami są:</p>
    <ul>
        <li>Maciej Bożemój</li>
        <li>Mateusz Chudzik</li>
        <li>Maciej Mościński</li>
        <li>Dawid Olejnik</li>
        <li>Samir Senhadri</li>
        <li>Adam Szady</li>
    </ul>
</div>